footer
    br
    p
    | Created by 
    a(href='http://www.kaylakremer.com') Kayla Kremer
    |  with Team Treehouse's 
    a(href='https://teamtreehouse.com/library/express-basics-2') "Express Basics"
    |  and  
    a(href='https://teamtreehouse.com/library/user-authentication-with-express-and-mongo') "User Authentication with Express and Mongo"
    |  video tutorial series.