extends layout

block content
    h2 Sign Up
    form(action='/signup', method='post')
        label Please enter a username 
            input(type='text', name='username')
        br
        br
        label Please enter a password 
            input(type='password' name='password')
        br
        br
        label Please confirm your password 
            input(type='password' name='confirm')
        br
        br
        button(type='submit') Submit
        